.weekDay {
  padding: 1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  > * {
    align-self: center;
  }

  .weekDay-item {
    color: #212121;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 13px;
  }
}

.round-btn.active {
  box-shadow: 0 7px 8px 0 rgba(3, 104, 49, 0.22);
  border: 1px solid #00a24a;
  background-color: #00a24a;
  color: white;
}

.weekDay-item:hover {
  border: 1px solid #00a24a;
  background-color: #00a24a;
  color: white !important;
}
