.DayItemCntnr {
  padding: 15px 0;

  h2 {
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
    color: #00a24a;
    margin-bottom: 40px;
  }

  .subDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;

    span.info {
      color: #212121;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.14px;
      line-height: 20px;
    }

    .btn {
      margin-right: 15px;
    }
  }
}

.main-items,
.side-items {
  margin: 2em 0;
  margin-bottom: 4em;

  .title {
    display: flex;
    margin: .5em 0;

    > * {
      align-self: center;
    }

    span {
      color: #212121;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1.43px;
      line-height: 25px;
      margin-right: 2em;
    }
  }

  hr {
    flex: 1;
    border: 1px solid #e1e1e1;
  }
}

.dish.skeleton {
  width: 270px;
  height: 300px;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.dish-side.skeleton {
  width: 270px;
  height: 200px;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  background-color: #f1f1f1;
}